<label for="mountName">
	<f:translate key="tx_msrouten_domain_model_mounts.mount_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="mountName" /><br />
<label for="mountDescription">
	<f:translate key="tx_msrouten_domain_model_mounts.mount_description" />
</label><br />
	<f:form.textarea property="mountDescription" cols="40" rows="15" /><br />
<label for="height">
	<f:translate key="tx_msrouten_domain_model_mounts.height" />
</label><br />
	<f:form.textarea property="height" cols="40" rows="15" /><br />
<label for="mountLocationN">
	<f:translate key="tx_msrouten_domain_model_mounts.mount_location_n" />
</label><br />
	<f:form.textfield property="mountLocationN" /><br />
<label for="mountLocationO">
	<f:translate key="tx_msrouten_domain_model_mounts.mount_location_o" />
</label><br />
	<f:form.textfield property="mountLocationO" /><br />
<label for="mountWayToTop">
	<f:translate key="tx_msrouten_domain_model_mounts.mount_way_to_top" />
</label><br />
	<f:form.textarea property="mountWayToTop" cols="40" rows="15" /><br />
<label for="mountWayToBot">
	<f:translate key="tx_msrouten_domain_model_mounts.mount_way_to_bot" />
</label><br />
	<f:form.textarea property="mountWayToBot" cols="40" rows="15" /><br />