<table class="tx-msrouten" >
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_mounts.mount_name" />
		</td>
		<td>
			{mounts.mountName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_mounts.mount_description" />
		</td>
		<td>
			{mounts.mountDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_mounts.height" />
		</td>
		<td>
			{mounts.height}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_mounts.mount_location_n" />
		</td>
		<td>
			{mounts.mountLocationN}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_mounts.mount_location_o" />
		</td>
		<td>
			{mounts.mountLocationO}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_mounts.mount_way_to_top" />
		</td>
		<td>
			{mounts.mountWayToTop}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_mounts.mount_way_to_bot" />
		</td>
		<td>
			{mounts.mountWayToBot}
		</td>
	</tr>
</table>