<label for="routenName">
	<f:translate key="tx_msrouten_domain_model_routes.routen_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="routenName" /><br />
<label for="levelShort">
	<f:translate key="tx_msrouten_domain_model_routes.level_short" />
</label><br />
	<f:form.textfield property="levelShort" /><br />
<label for="level">
	<f:translate key="tx_msrouten_domain_model_routes.level" />
</label><br />
	<f:form.textfield property="level" /><br />
<label for="erstbegeher">
	<f:translate key="tx_msrouten_domain_model_routes.erstbegeher" />
</label><br />
	<f:form.textfield property="erstbegeher" /><br />
<label for="elevel">
	<f:translate key="tx_msrouten_domain_model_routes.elevel" />
</label><br />
	<f:form.textfield property="elevel" /><br />
<label for="climbtime">
	<f:translate key="tx_msrouten_domain_model_routes.climbtime" />
</label><br />
	<f:form.textfield property="climbtime" /><br />
<label for="climbdistance">
	<f:translate key="tx_msrouten_domain_model_routes.climbdistance" />
</label><br />
	<f:form.textfield property="climbdistance" /><br />
<label for="exposition">
	<f:translate key="tx_msrouten_domain_model_routes.exposition" />
</label><br />
	<f:form.textfield property="exposition" /><br />
<label for="wandhoehe">
	<f:translate key="tx_msrouten_domain_model_routes.wandhoehe" />
</label><br />
	<f:form.textfield property="wandhoehe" /><br />
<label for="material">
	<f:translate key="tx_msrouten_domain_model_routes.material" />
</label><br />
	<f:form.textfield property="material" /><br />
<label for="beauty">
	<f:translate key="tx_msrouten_domain_model_routes.beauty" />
</label><br />
	<f:form.textfield property="beauty" /><br />
<label for="frequenz">
	<f:translate key="tx_msrouten_domain_model_routes.frequenz" />
</label><br />
	<f:form.textfield property="frequenz" /><br />
<label for="routeDescription">
	<f:translate key="tx_msrouten_domain_model_routes.route_description" />
</label><br />
	<f:form.textarea property="routeDescription" cols="40" rows="15" /><br />
<label for="levelLong">
	<f:translate key="tx_msrouten_domain_model_routes.level_long" />
</label><br />
	<f:form.textarea property="levelLong" cols="40" rows="15" /><br />
<label for="absicherung">
	<f:translate key="tx_msrouten_domain_model_routes.absicherung" />
</label><br />
	<f:form.textarea property="absicherung" cols="40" rows="15" /><br />
<label for="zustieg">
	<f:translate key="tx_msrouten_domain_model_routes.zustieg" />
</label><br />
	<f:form.textarea property="zustieg" cols="40" rows="15" /><br />
<label for="einstieg">
	<f:translate key="tx_msrouten_domain_model_routes.einstieg" />
</label><br />
	<f:form.textarea property="einstieg" cols="40" rows="15" /><br />
<label for="huette">
	<f:translate key="tx_msrouten_domain_model_routes.huette" />
</label><br />
	<f:form.textfield property="huette" /><br />
<label for="hints">
	<f:translate key="tx_msrouten_domain_model_routes.hints" />
</label><br />
	<f:form.textarea property="hints" cols="40" rows="15" /><br />
<label for="abstieg">
	<f:translate key="tx_msrouten_domain_model_routes.abstieg" />
</label><br />
	<f:form.textarea property="abstieg" cols="40" rows="15" /><br />
<label for="verlauf">
	<f:translate key="tx_msrouten_domain_model_routes.verlauf" />
</label><br />
	<f:form.textfield property="verlauf" cols="40" rows="15" /><br />
<label for="erstbegeherLang">
	<f:translate key="tx_msrouten_domain_model_routes.erstbegeher_lang" />
</label><br />
	<f:form.textarea property="erstbegeherLang" cols="40" rows="15" /><br />
<label for="quelle">
	<f:translate key="tx_msrouten_domain_model_routes.quelle" />
</label><br />
	<f:form.textarea property="quelle" cols="40" rows="15" /><br />
<label for="topo">
	<f:translate key="tx_msrouten_domain_model_routes.topo" />
</label><br />
	<f:form.upload property="topo" /><br />
<label for="topoBu">
	<f:translate key="tx_msrouten_domain_model_routes.topo_bu" />
</label><br />
	<f:form.textarea property="topoBu" cols="40" rows="15" /><br />
<label for="topoAlt">
	<f:translate key="tx_msrouten_domain_model_routes.topo_alt" />
</label><br />
	<f:form.textarea property="topoAlt" cols="40" rows="15" /><br />
<label for="topoTitle">
	<f:translate key="tx_msrouten_domain_model_routes.topo_title" />
</label><br />
	<f:form.textarea property="topoTitle" cols="40" rows="15" /><br />
<label for="wandbild">
	<f:translate key="tx_msrouten_domain_model_routes.wandbild" />
</label><br />
	<f:form.upload property="wandbild" /><br />
<label for="wandbildBu">
	<f:translate key="tx_msrouten_domain_model_routes.wandbild_bu" />
</label><br />
	<f:form.textarea property="wandbildBu" cols="40" rows="15" /><br />
<label for="wandbildAlt">
	<f:translate key="tx_msrouten_domain_model_routes.wandbild_alt" />
</label><br />
	<f:form.textarea property="wandbildAlt" cols="40" rows="15" /><br />
<label for="wandbildTitle">
	<f:translate key="tx_msrouten_domain_model_routes.wandbild_title" />
</label><br />
	<f:form.textarea property="wandbildTitle" cols="40" rows="15" /><br />
<label for="actionBild1">
	<f:translate key="tx_msrouten_domain_model_routes.action_bild1" />
</label><br />
	<f:form.upload property="actionBild1" /><br />
<label for="actionBild1Bu">
	<f:translate key="tx_msrouten_domain_model_routes.action_bild1_bu" />
</label><br />
	<f:form.textarea property="actionBild1Bu" cols="40" rows="15" /><br />
<label for="actionBild1Alt">
	<f:translate key="tx_msrouten_domain_model_routes.action_bild1_alt" />
</label><br />
	<f:form.textarea property="actionBild1Alt" cols="40" rows="15" /><br />
<label for="actionbild1Title">
	<f:translate key="tx_msrouten_domain_model_routes.actionbild1_title" />
</label><br />
	<f:form.textarea property="actionbild1Title" cols="40" rows="15" /><br />
<label for="actionBild2">
	<f:translate key="tx_msrouten_domain_model_routes.action_bild2" />
</label><br />
	<f:form.upload property="actionBild2" /><br />
<label for="actionBild2Bu">
	<f:translate key="tx_msrouten_domain_model_routes.action_bild2_bu" />
</label><br />
	<f:form.textarea property="actionBild2Bu" cols="40" rows="15" /><br />
<label for="actionBild2Alt">
	<f:translate key="tx_msrouten_domain_model_routes.action_bild2_alt" />
</label><br />
	<f:form.textarea property="actionBild2Alt" cols="40" rows="15" /><br />
<label for="actionBild2Title">
	<f:translate key="tx_msrouten_domain_model_routes.action_bild2_title" />
</label><br />
	<f:form.textarea property="actionBild2Title" cols="40" rows="15" /><br />
<label for="actionBild3">
	<f:translate key="tx_msrouten_domain_model_routes.action_bild3" />
</label><br />
	<f:form.upload property="actionBild3" /><br />
<label for="actionBild3Bu">
	<f:translate key="tx_msrouten_domain_model_routes.action_bild3_bu" />
</label><br />
	<f:form.textarea property="actionBild3Bu" cols="40" rows="15" /><br />
<label for="actionBild3Alt">
	<f:translate key="tx_msrouten_domain_model_routes.action_bild3_alt" />
</label><br />
	<f:form.textarea property="actionBild3Alt" cols="40" rows="15" /><br />
<label for="actionBild3Title">
	<f:translate key="tx_msrouten_domain_model_routes.action_bild3_title" />
</label><br />
	<f:form.textarea property="actionBild3Title" cols="40" rows="15" /><br />
<label for="galerie">
	<f:translate key="tx_msrouten_domain_model_routes.galerie" />
</label><br />
	<f:form.textfield property="galerie" /><br />
<label for="pdf">
	<f:translate key="tx_msrouten_domain_model_routes.pdf" />
</label><br />
	<f:form.upload property="pdf" /><br />
<label for="linkextern">
	<f:translate key="tx_msrouten_domain_model_routes.linkextern" />
</label><br />
	<f:form.textfield property="linkextern" /><br />