{namespace geo=Bertigolf\Bertigolfnewsgeo\ViewHelpers}

<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	
	        <n:titleTag>
              <f:format.htmlentitiesDecode>Kletterroute {routes.walls.mounts.gebirge.gebirge}:{routes.walls.mounts.mountName}-{routes.routenName}</f:format.htmlentitiesDecode>
            </n:titleTag>
	<!--
  =====================
    Downloadbottom für PDF vorübergehend ausgeblendet

	<div id="funktionsbuttons" class="">
	<f:image src="fileadmin/images/pdfDownload.png" width="50px" height="50px" alt="PDF Download" title="Als PDF-Datei herunterladen"/>
	</div>
-->

	
	
	   <div class="container">
		 <h4> <f:link.page pageUid="{routes.walls.mounts.mountWayToBot}">Kletterrouten {routes.walls.mounts.gebirge.gebirge}</f:link.page>  »
	<f:link.page pageUid="{routes.walls.mounts.mountWayToTop}">{routes.walls.mounts.mountName}</f:link.page> » {routes.walls.wallName}
		 </h4>
	   </div>	
	 <div class="section section-default" style="float:left; width: 90%">
	   <div class="container">
		 <h1>{routes.routenName}<span class="stern stern{routes.beauty}"></span></h1>
	   </div>
       <div class="container">
            <div class="section-row">
                <div class="section-column section-column-fourth">
					<table> 
					  <tr>
						<th>Bewertung </th>
						<th>Ernsthaftigkeit
						  <f:image src="fileadmin/images/Info.png" width="20px" height="20px" alt="Infos" 
						   title="Gesamtanforderungen
	E1 - sehr gut abgesicherte Route, zusätzliche Absicherung nicht erforderlich
	E2 - großteils gut abgesicherte Route, stellenweise eigene Absicherung erforderlich 
		ansonsten weite Hakenabstände, durchweg zuverlässige Stände.
	E3 - durchschnittlich abgesicherte Alpinroute, Stände eingerichtet (auch  
	    Normalhaken) oder leicht zu bauen, Zwischensicherungen müssen teils selbst 
       angebracht werden
	E4 - schlecht/nicht abgesicherte Route, nur wenig oder schlechtes Hakenmaterial 
	    vorhanden, kann aber mobil gut abgesichert werden.  
	E5 - schlecht abgesicherte, ernste Route, wenig oder sehr schlechtes Hakenmaterial, 
		mobile Absicherung schwierig oder nicht überall möglich
	E6 - sehr ernste Route, auch in den schwierigen und/oder brüchigen Seillängen 
	   nicht immer absicherbar"  />
						  </th>
					  </tr>
					  <tr>
						<td><f:translate key="tx_msrouten_domain_model_routes.levelshort{routes.levelShort}" /> {routes.alevel}</td>
						<td>{routes.elevel}</td>
					  </tr>
					</table>
                </div>
                <div class="section-column section-column-fourth">
                 <table > 
					  <tr>
						<th>Kletterzeit</th>
						<th>Kletterlänge</th>
					  </tr>
					  <tr>
						<td>{routes.climbtime}</td>
						<td>{routes.climbdistance}</td>
					  </tr>
					</table>
                </div>
                <div class="section-column section-column-fourth"> 
                  <table > 
					  <tr>
						<th>Wandhöhe</th>
						<th>Exposition</th>
					  </tr>
					  <tr>
						<td>{routes.wandhoehe}</td>
						<td>{routes.exposition}</td>
					  </tr>
					</table>
                </div>
                 <div class="section-column section-column-fourth">
                     <table> 
					  <tr>
						<th>Beliebtheit</th>
						
					  <tr>
						<td class="frequenz frequenz{routes.frequenz}"><span> </span></td>
					  </tr>
					</table>
					
                </div>
            </div>
        </div>
    </div>
	 <f:if condition="{routes.guide}">

							 <f:render section="guide" arguments="{newsItem:routes.guide}"/>
					
						   </f:if> 
	
	<div class="container">    
		
		
		
		
		<div class="mediaelement mediaelement-image">
		  <figure class="image">
			  <f:for each="{routes.wandbilder2024}" as="wandbild" iteration="iterator">
				    <picture>
						<f:image 
								  image="{wandbild.originalResource}"
								  alt="{wandbild.originalResource.properties.description.alt}"  
								  title="{wandbild.originalResource.properties.description.title}"
								  width="1199"
							 />
						<div >{wandbild.originalResource.properties.description}</div>
					</picture>
				  </f:for>
			  
			<!-- Wandbild alte Version-->   
			<f:if condition="{routes.wandbild}">
				 <picture>
					<f:image 
							  src="uploads/tx_msrouten/{routes.wandbild}" 
							  alt="{routes.wandbildAlt}"  
							  title="{routes.wandbildTitle}"
							  width="1199"
						 />
					 <f:format.html>{routes.wandbildBu}</f:format.html>
				</picture>	 
			</f:if>	
		  </figure>
		</div>
	</div>

	<div class="container">
	   <div class="section-row route-properties">
		  <f:if condition="{routes.routeDescription}">
			 <div class="section-column section-column-half">
				<h4>Routencharakter</h4>
				<f:format.html>{routes.routeDescription}</f:format.html>
			  </div>  
			</f:if>
			  <f:if condition="{routes.levelLong}">
				<div class="section-column section-column-half">
				   <h4>Schwierigkeit</h4>
				   <f:format.html>{routes.levelLong}</f:format.html>
				</div>			 
			  </f:if>

			  <f:if condition="{routes.absicherung}">
				 <div class="section-column section-column-half">
				   <h4>Absicherung</h4>
				   <f:format.html>{routes.absicherung}</f:format.html>
				</div>
			  </f:if>

			  <f:if condition="{routes.material}">
				 <div class="section-column section-column-half">
					  <h4>Empfohlene Ausrüstung</h4>
					  <f:format.html>{routes.material}</f:format.html>
				</div>
			  </f:if>

			  <f:if condition="{routes.erstbegeherLang}">
				  <div class="section-column section-column-half">
					  <h4>Erstbegeher</h4>
					  <f:format.html>{routes.erstbegeherLang}</f:format.html>
				</div>
			  </f:if>
		</div>
	</div>
<!-- 		=====================   Werbebanner - Anfang   ===================== 		 -->

	<div class="container">    
		<div class="mediaelement mediaelement-image">
		  <figure class="image">
				<f:link.external uri="https://ortovox.com/de-de/far-and-light?utm_source=markusstadler&utm_medium=banner&utm_campaign=awareness-farlight-summer23" 
							  target="_blank" rel="nofollow">
				  <picture>
					 <f:image 
						  src="fileadmin/images/allgemeines/bannerOrtovox/230315_Online_Banner_Statisch_1200x148_LRZ_Far_Light_M.jpg" 
						  alt="Ortovox - Far & Light Collection"  
						  title="Ortovox - Far & Light Collection"
					 />
					</picture>
				</f:link.external>
			</figure>
		</div>
	</div>
		<!--	
		=====================   Werbebanner - Ende  ===================== 
		-->
	<div class="container">
	   <div class="section-row route-properties">
			  <f:if condition="{routes.zustieg}">
				  <div class="section-column section-column-half">
					  <h4>Zustieg</h4>
					  <f:format.html>{routes.zustieg}</f:format.html>
				</div>
			  </f:if>
			  <f:if condition="{routes.einstieg}">
				  <div class="section-column section-column-half">
					  <h4>Einstieg</h4>
					  <f:format.html>{routes.einstieg}</f:format.html>
				</div>
			  </f:if>
			  <f:if condition="{routes.verlauf}">
				  <div class="section-column section-column-half">
					  <h4>Routenverlauf</h4>
					  <f:format.html>{routes.verlauf}</f:format.html>
				</div>
			  </f:if>
			  <f:if condition="{routes.abstieg}">
				  <div class="section-column section-column-half">
					  <h4>Abstieg</h4>
					  <f:format.html>{routes.abstieg}</f:format.html>
				</div>
			  </f:if>
			  <f:if condition="{routes.huette}">
				  <div class="section-column section-column-half">
					  <h4>Übernachtung oder Einkehr</h4>
					  <f:format.html>{routes.huette}</f:format.html>
				</div>
			  </f:if>
			  <f:if condition="{routes.hints}">
				  <div class="section-column section-column-half">
					  <h4>Hinweise</h4>
					  <f:format.html>{routes.hints}</f:format.html>
				</div>
			  </f:if>
			  <f:if condition="{routes.quelle}">
				  <div class="section-column section-column-half">
					  <h4>Informationsquelle</h4>
					  <f:format.html>{routes.quelle}</f:format.html>
				</div>
			  </f:if>
			  <f:if condition="{routes.linkextern}">
				   <div class="section-column section-column-half">
					  <h4>Externer Link</h4>
					  <f:format.html>{routes.linkextern}</f:format.html>
				</div>
			</f:if>
		</div>  
	</div>
	
	<!-- TOPO ---------------------------------- -->
	<div class="container">
	    <h1>Topo</h1>	
		<f:for each="{routes.topo2024}" as="topo" iteration="iterator">
			 <div class="mediaelement mediaelement-image">
		 		 <figure class="image topo">
					<picture>
						<f:image 
								 image="{topo.originalResource}"
								 alt="{topo.originalResource.properties.description.alt}"  
								 title="{topo.originalResource.properties.description.title}"
								 width="1199"
								 />
						<div >{topo.originalResource.properties.description}</div>
					</picture>
				 </figure>
			 </div>	
		</f:for>
		 
		<!-- Topo alte Version -->
		 <f:if condition="{routes.topo}">
		   <f:then>
			 <div class="mediaelement mediaelement-image">
		 		 <figure class="image topo">
				   <picture>
			       	 <f:image 
                                  src="uploads/tx_msrouten/{routes.topo}" 
                                  alt="{routes.topoAlt}"  
                                  title="{routes.topoTitle}"
                                  width="1199"
                         />
					 </picture>
				 </figure>
			 </div>	
		  </f:then>           
		</f:if>
		<f:format.html>{routes.topoBu}</f:format.html>
	</div>
	
	<!-- 		=====================   actionbilder der Route  ===================== 		 -->
	<div class="container">
	   <h1>Fotos aus der Route</h1>
	   <div class="gallery-row route-properties">
		   
		  <f:for each="{routes.actionbilder2024}" as="actionbild" iteration="iterator">
			  <div class="gallery-item gallery-item-size-2"> 
				 <div class="mediaelement mediaelement-image">
					 <figure class="image">
						 <bk2k:link.lightbox
								image="{actionbild}"
								maxHeight="{settings.lightbox.image.maxHeight}"
								maxWidth="{settings.lightbox.image.maxWidth}"
								class="lightbox"
								rel="test-001"
								title="{actionbild.properties.title}"
								caption="{actionbild.properties.description}"
						 > 
							<picture>
								<f:image 
									 image="{actionbild.originalResource}"
									 alt="{actionbild.originalResource.properties.description.alt}"  
									 title="{actionbild.originalResource.properties.description.title}"
									 width="1199"
								/>
							</picture>	
							<div >{actionbild.originalResource.properties.description}</div>
                    	</bk2k:link.lightbox>
					 </figure>
				 </div>	
			  </div>
		</f:for> 
		   
		   <!-- Topo alte Version -->
		 <f:if condition="{routes.actionBild1}">
			 
			 <div class="section-column section-column-half">
	           <div class="mediaelement mediaelement-image">
				    
					 <figure class="image">
					   <picture>
						  <f:image 
									  src="uploads/tx_msrouten/{routes.actionBild1}" 
									  alt="{routes.actionBild1Alt}"  
									  title="{routes.actionBild1Title}"
									  width="1199"
						  />
						</picture>
						<f:format.html>{routes.actionBild1Bu}</f:format.html>
				 	</figure>
			 	  </div>
			 </div>
		 </f:if>	
		  <f:if condition="{routes.actionBild2}">
			 <div class="section-column section-column-half">
	           <div class="mediaelement mediaelement-image">
				   <figure class="image">  
					  <picture>
				        <f:image 
                                  src="uploads/tx_msrouten/{routes.actionBild2}" 
                                  alt="{routes.actionBild2Alt}"  
                                  title="{routes.actionBild2Title}"
                                  width="1199"
                         />
					   </picture>
			         <f:format.html>{routes.actionBild2Bu}</f:format.html>
					</figure>
			 	  </div>
			 </div>
		 </f:if>
		   
			<f:if condition="{routes.actionBild3}">
			 <div class="section-column section-column-half">
	           <div class="mediaelement mediaelement-image">
				   <figure class="image">  
					  <picture>
				        <f:image 
                                  src="uploads/tx_msrouten/{routes.actionBild3}" 
                                  alt="{routes.actionBild3Alt}"  
                                  title="{routes.actionBild3Title}"
                                  width="1199"
                         />
					   </picture>
			         <f:format.html>{routes.actionBild3Bu}</f:format.html>
					</figure>
			 	  </div>
			 </div>
		 </f:if>
	
	  </div>
	</div>
	
	
<!-- 		=====================   section - guide   ===================== 		 -->	
	
	<f:section name="guide">
      <div class="news-img-wrap">
          <geo:link newsItem="{newsItem}" settings="{settings}">
              <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                <f:if condition="{mediaElement}">
					<f:if condition="{mediaElement.type} == 0">
					  <f:image
						image="{mediaElement}"
						title="{mediaElement.title}"
						alt="{mediaElement.alt}"
						maxWidth="120"
						maxHeight="150"
						/> 
					</f:if>
                
                </f:if>
              </f:alias>
        </geo:link>
      </div>
    </f:section>
	
</html>