{namespace geo=Bertigolf\Bertigolfnewsgeo\ViewHelpers}

<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	
	        
          <n:titleTag>
              <f:format.htmlentitiesDecode>Kletterroute {routes.walls.mounts.gebirge.gebirge}:{routes.walls.mounts.mountName}-{routes.routenName}</f:format.htmlentitiesDecode>
            </n:titleTag>
	<!--
  =====================
    Downloadbottom für PDF vorübergehend ausgeblendet

	<div id="funktionsbuttons" class="">
	<f:image src="fileadmin/images/pdfDownload.png" width="50px" height="50px" alt="PDF Download" title="Als PDF-Datei herunterladen"/>
	</div>
-->
	<h3> Kletterrouten {routes.walls.mounts.gebirge.gebirge}  »
	<f:link.page pageUid="{routes.walls.mounts.mountWayToTop}">{routes.walls.mounts.mountName}</f:link.page> - {routes.walls.wallName}</h3>
	<h1>{routes.routenName}<span class="stern stern{routes.beauty}"></span></h1>
    <div id="msBoxen" class="skitouren">
          <div id="msBoxenItem" class="">
            <table> 
              <tr>
                <th>Bewertung </th>
                <th>Ernsthaftigkeit
				  <f:image src="fileadmin/images/Info.png" width="20px" height="20px" alt="Infos" 
						   title="Gesamtanforderungen
	E1 - sehr gut abgesicherte Route, zusätzliche Absicherung nicht erforderlich
	E2 - großteils gut abgesicherte Route, stellenweise eigene Absicherung erforderlich 
		ansonsten weite Hakenabstände, durchweg zuverlässige Stände.
	E3 - durchschnittlich abgesicherte Alpinroute, Stände eingerichtet (auch  
	    Normalhaken) oder leicht zu bauen, Zwischensicherungen müssen teils selbst 
       angebracht werden
	E4 - schlecht/nicht abgesicherte Route, nur wenig oder schlechtes Hakenmaterial 
	    vorhanden, kann aber mobil gut abgesichert werden.  
	E5 - schlecht abgesicherte, ernste Route, wenig oder sehr schlechtes Hakenmaterial, 
		mobile Absicherung schwierig oder nicht überall möglich
	E6 - sehr ernste Route, auch in den schwierigen und/oder brüchigen Seillängen 
	   nicht immer absicherbar"  />
				  </th>
              </tr>
              <tr>
                <td><f:translate key="tx_msrouten_domain_model_routes.levelshort{routes.levelShort}" /> {routes.alevel}</td>
                <td>{routes.elevel}</td>
              </tr>
            </table>
           </div>
            <div id="msBoxenItem" class="">
            <table > 
              <tr>
                <th>Kletterzeit</th>
                <th>Kletterlänge</th>
              </tr>
              <tr>
                <td>{routes.climbtime}</td>
                <td>{routes.climbdistance}</td>
              </tr>
            </table>
           </div>
            <div id="msBoxenItem" class="">
            <table > 
              <tr>
                <th>Wandhöhe</th>
                <th>Exposition</th>
              </tr>
              <tr>
                <td>{routes.wandhoehe}</td>
                <td>{routes.exposition}</td>
              </tr>
            </table>
           </div>
            <div id="msBoxenItem" class="">
            <table> 
              <tr>
                <th>Beliebtheit</th>
			       <f:if condition="{routes.guide}">
			      
                      <th rowspan="2"><f:render section="guide" arguments="{newsItem:routes.guide}"/></th>
			       </f:if>
              <tr>
                <td class="frequenz frequenz{routes.frequenz}"><span> </span></td>
              </tr>
            </table>
           </div>
     </div>
<div id="msBoxen" class="">
	<f:if condition="{routes.wandbild}">
	     <div id="msBoxenItem" class="standard TeaserXLarge responsivepicture wandbild">  
			<sms:image 
			          src="uploads/tx_msrouten/{routes.wandbild}" 
			          alt="{routes.wandbildAlt}"  
			          title="{routes.wandbildTitle}"
			          width="1199"
			          srcset="400,900,1199"
			          sizes="70vw"
		         />
			 <f:format.html>{routes.wandbildBu}</f:format.html>
		 </div>
		 
	</f:if>	
          <f:if condition="{routes.routeDescription}">
			  <div id="msBoxenItem" class="standard TeaserLarge">
				  <h4>Routencharakter</h4>
                  <f:format.html>{routes.routeDescription}</f:format.html>
              </div>
		  </f:if>
		  <f:if condition="{routes.levelLong}">
            <div id="msBoxenItem" class="standard TeaserLarge">
               <h4>Schwierigkeit</h4>
               <f:format.html>{routes.levelLong}</f:format.html>
            </div>			 
		  </f:if>
	
          <f:if condition="{routes.absicherung}">
			<div id="msBoxenItem" class="standard TeaserLarge">
               <h4>Absicherung</h4>
               <f:format.html>{routes.absicherung}</f:format.html>
            </div>
		  </f:if>
	      
	      <f:if condition="{routes.material}">
			<div id="msBoxenItem" class="standard TeaserLarge">
				  <h4>Empfohlene Ausrüstung</h4>
                  <f:format.html>{routes.material}</f:format.html>
            </div>
		  </f:if>

	      <f:if condition="{routes.erstbegeherLang}">
			<div id="msBoxenItem" class="standard TeaserXLarge">
				  <h4>Erstbegeher</h4>
                  <f:format.html>{routes.erstbegeherLang}</f:format.html>
            </div>
		  </f:if>
	<!--
    =====================   Werbebanner - Anfang   ===================== 
    -->
		  <div id="msBoxenItem" class="standard TeaserXLarge responsivepicture wandbild">  
		    <f:link.external uri="https://www.ortovox.com/de/safety-academy-lab-rock/kapitel-4-alpine-rettung/?utm_source=markusstadler&utm_medium=banner&utm_campaign=firstaid" 
						  target="_blank" rel="nofollow">
			     <sms:image 
			          src="fileadmin/images/allgemeines/bannerOrtovox/190424_ErsteHilfe_1200x148_DE_MAH.gif" 
			          alt="Ortovox"  
			          title="Ortovox"
			          width="1199"
			          srcset="400,900,1199"
			          sizes="70vw"
		         />
		    </f:link.external>
		 </div>
	<!--
    =====================   Werbebanner - Ende  ===================== 
    -->
	      <f:if condition="{routes.zustieg}">
			<div id="msBoxenItem" class="standard TeaserXLarge">
				  <h4>Zustieg</h4>
                  <f:format.html>{routes.zustieg}</f:format.html>
            </div>
		  </f:if>
	      <f:if condition="{routes.einstieg}">
			<div id="msBoxenItem" class="standard TeaserXLarge">
				  <h4>Einstieg</h4>
                  <f:format.html>{routes.einstieg}</f:format.html>
            </div>
		  </f:if>
	      <f:if condition="{routes.verlauf}">
			<div id="msBoxenItem" class="standard TeaserXLarge">
				  <h4>Routenverlauf</h4>
                  <f:format.html>{routes.verlauf}</f:format.html>
            </div>
		  </f:if>
	      <f:if condition="{routes.abstieg}">
			<div id="msBoxenItem" class="standard TeaserXLarge">
				  <h4>Abstieg</h4>
                  <f:format.html>{routes.abstieg}</f:format.html>
            </div>
		  </f:if>
	      <f:if condition="{routes.huette}">
			<div id="msBoxenItem" class="standard TeaserXLarge">
				  <h4>Übernachtung oder Einkehr</h4>
                  <f:format.html>{routes.huette}</f:format.html>
            </div>
		  </f:if>
	      <f:if condition="{routes.hints}">
			<div id="msBoxenItem" class="standard TeaserXLarge">
				  <h4>Hinweise</h4>
                  <f:format.html>{routes.hints}</f:format.html>
            </div>
		  </f:if>
	      <f:if condition="{routes.quelle}">
			<div id="msBoxenItem" class="standard TeaserLarge">
				  <h4>Informationsquelle</h4>
                  <f:format.html>{routes.quelle}</f:format.html>
            </div>
		  </f:if>
		       <f:if condition="{routes.linkextern}">
			 <div id="msBoxenItem" class="standard TeaserLarge">
				  <h4>Externer Link</h4>
                  <f:format.html>{routes.linkextern}</f:format.html>
            </div>
				   </f:if>
		  
</div>
<div id="msBoxen" class="">
	     <div id="msBoxenItem" class="standard TeaserXLarge responsivepicture wandbild"> 
            <table> 
              <tr>
				  <th><H1>Topo</H1></th>
              </tr>
              <tr><td align="center">	
		 <f:if condition="{routes.topo}">
		 	<f:then>
			       	<sms:image 
                                  src="uploads/tx_msrouten/{routes.topo}" 
                                  alt="{routes.topoAlt}"  
                                  title="{routes.topoTitle}"
                                  width="1199"
                                  srcset="400,900,1199"
                                  sizes="70vw"
                         />
			                <f:format.html>{routes.topoBu}</f:format.html>
			            </f:then>
			            <f:else>
							<f:format.html>{routes.topoBu}</f:format.html>
 			            </f:else>
			         </f:if>
		           </td>
              </tr>
            </table>	
	       </div>
	
	<f:if condition="{routes.actionBild1}">
	     <div id="msBoxenItem" class="standard TeaserXLarge responsivepicture aktionbildKlettern"> 
			 <h2>Fotos aus der Route</h2>
			<sms:image 
                                  src="uploads/tx_msrouten/{routes.actionBild1}" 
                                  alt="{routes.actionBild1Alt}"  
                                  title="{routes.actionBild1Title}"
                                  width="1199"
                                  srcset="400,900,1199"
                                  sizes="70vw"
                         />
			<f:format.html>{routes.actionBild1Bu}</f:format.html>
			<sms:image 
                                  src="uploads/tx_msrouten/{routes.actionBild2}" 
                                  alt="{routes.actionBild2Alt}"  
                                  title="{routes.actionBild2Title}"
                                  width="1199"
                                  srcset="400,900,1199"
                                  sizes="70vw"
                         />
			<f:format.html>{routes.actionBild2Bu}</f:format.html>
			<sms:image 
                                  src="uploads/tx_msrouten/{routes.actionBild3}" 
                                  alt="{routes.actionBild3Alt}"  
                                  title="{routes.actionBild3Title}"
                                  width="1199"
                                  srcset="400,900,1199"
                                  sizes="70vw"
                         />
			<f:format.html>{routes.actionBild3Bu}</f:format.html>			 
		 </div>
	</f:if>	
	  </div>
	
	<f:section name="guide">
      <div class="news-img-wrap">
        <geo:link newsItem="{newsItem}" settings="{settings}">
              <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                <f:if condition="{mediaElement}">
                <f:if condition="{mediaElement.type} == 0">
                  <f:image
                    image="{mediaElement}"
                    title="{mediaElement.title}"
                    alt="{mediaElement.alt}"
                    maxWidth="90"
                    maxHeight="120"
                    /> 
                </f:if>
                <f:if condition="{mediaElement.type} == 1">
                  <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}" />
                </f:if>
                <f:if condition="{mediaElement.type} == 2">
                  <f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}" />
                </f:if>
                <f:if condition="{mediaElement.type} == 3">
                </f:if>
                </f:if>
              </f:alias>
        </geo:link>
      </div>
    </f:section>
	
</html>