<label for="pictureWall">
	<f:translate key="tx_msrouten_domain_model_pictures.picture_wall" />
</label><br />
	<f:form.upload property="pictureWall" /><br />
<label for="wallPicBu">
	<f:translate key="tx_msrouten_domain_model_pictures.wall_pic_bu" />
</label><br />
	<f:form.textarea property="wallPicBu" cols="40" rows="15" /><br />
<label for="wallPicAlt">
	<f:translate key="tx_msrouten_domain_model_pictures.wall_pic_alt" />
</label><br />
	<f:form.textarea property="wallPicAlt" cols="40" rows="15" /><br />
<label for="wallPicTitle">
	<f:translate key="tx_msrouten_domain_model_pictures.wall_pic_title" />
</label><br />
	<f:form.textarea property="wallPicTitle" cols="40" rows="15" /><br />