<table class="tx-msrouten" >
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_pictures.picture_wall" />
		</td>
		<td>
			{pictures.pictureWall}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_pictures.wall_pic_bu" />
		</td>
		<td>
			{pictures.wallPicBu}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_pictures.wall_pic_alt" />
		</td>
		<td>
			{pictures.wallPicAlt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_pictures.wall_pic_title" />
		</td>
		<td>
			{pictures.wallPicTitle}
		</td>
	</tr>
</table>