<label for="guideName">
	<f:translate key="tx_msrouten_domain_model_guide.guide_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="guideName" /><br />
<label for="guideDescription">
	<f:translate key="tx_msrouten_domain_model_guide.guide_description" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="guideDescription" cols="40" rows="15" /><br />
<label for="guideAuthor">
	<f:translate key="tx_msrouten_domain_model_guide.guide_author" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="guideAuthor" /><br />
<label for="guideISBN">
	<f:translate key="tx_msrouten_domain_model_guide.guide_i_s_b_n" />
</label><br />
	<f:form.textfield property="guideISBN" /><br />
<label for="guidePrice">
	<f:translate key="tx_msrouten_domain_model_guide.guide_price" />
</label><br />
	<f:form.textfield property="guidePrice" /><br />