<table class="tx-msrouten" >
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_guide.guide_name" />
		</td>
		<td>
			{guide.guideName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_guide.guide_description" />
		</td>
		<td>
			{guide.guideDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_guide.guide_author" />
		</td>
		<td>
			{guide.guideAuthor}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_guide.guide_i_s_b_n" />
		</td>
		<td>
			{guide.guideISBN}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msrouten_domain_model_guide.guide_price" />
		</td>
		<td>
			{guide.guidePrice}
		</td>
	</tr>
</table>