<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Routes</h1>

<f:flashMessages />

<table  class="tx_msrouten" >
	<tr>
		<th><f:translate key="tx_msrouten_domain_model_routes.route_name" /></th>
		<th><f:translate key="tx_msrouten_domain_model_routes.route_description" /></th>
		<th><f:translate key="tx_msrouten_domain_model_routes.route_first_ascent" /></th>
		<th><f:translate key="tx_msrouten_domain_model_routes.level" /></th>
		<th><f:translate key="tx_msrouten_domain_model_routes.level_long" /></th>
		<th><f:translate key="tx_msrouten_domain_model_routes.elevel" /></th>
		<th><f:translate key="tx_msrouten_domain_model_routes.climbtime" /></th>
		<th><f:translate key="tx_msrouten_domain_model_routes.climbdistance" /></th>
		<th><f:translate key="tx_msrouten_domain_model_routes.pdf" /></th>
		<th><f:translate key="tx_msrouten_domain_model_routes.topo" /></th>
		<th><f:translate key="tx_msrouten_domain_model_routes.hints" /></th>
		<th><f:translate key="tx_msrouten_domain_model_routes.hikeup" /></th>
		<th><f:translate key="tx_msrouten_domain_model_routes.access" /></th>
		<th><f:translate key="tx_msrouten_domain_model_routes.process" /></th>
		<th><f:translate key="tx_msrouten_domain_model_routes.climbdown" /></th>
		<th><f:translate key="tx_msrouten_domain_model_routes.outpost" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{routess}" as="routes">
		<tr>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.routeName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.routeDescription}</f:link.action></td>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.routeFirstAscent -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.level}</f:link.action></td>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.levelLong}</f:link.action></td>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.elevel}</f:link.action></td>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.climbtime}</f:link.action></td>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.climbdistance}</f:link.action></td>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.pdf}</f:link.action></td>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.topo}</f:link.action></td>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.hints}</f:link.action></td>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.hikeup}</f:link.action></td>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.access}</f:link.action></td>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.process}</f:link.action></td>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.climbdown}</f:link.action></td>
			<td><f:link.action action="show" arguments="{routes : routes}"> {routes.outpost}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{routes : routes}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{routes : routes}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Routes</f:link.action>
</f:section>