<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h3>Übersicht über die Kletterrouten</h3>
<br/>
<f:flashMessages />

<table  class="tx_msrouten tx_msrouten-list" >

		<f:for each="{routess}" as="routes">
			<tr>
				<th colspan="3">
					<f:link.action class="tx_routen-list" action="show" arguments="{routes : routes, pdf : FALSE}" pageUid="{singlePID}" >
						{routes.routenName}  (<f:translate key="tx_msrouten_domain_model_routes.levelshort{routes.levelShort}"/>)
					</f:link.action> <span class="stern stern{routes.beauty}"> </span>
				 </th>
			</tr>
		
	
			<tr>
				<td><b>E-Bew.: {routes.elevel}</b></td>
				<td><b>Beliebtheit: <span class="frequenz frequenz{routes.frequenz}"> </b></span></td>
				<td><b><f:translate key="tx_msrouten_domain_model_routes.level" /> </b>{routes.level}</td> </tr>
				<tr>
				<td><b>Länge:</b> {routes.climbdistance}</td>
				<td><b>Zeit:</b> {routes.climbtime} - <b>Expos.:</b> {routes.exposition}</td>
				<td><b>Erstbegeher.:</b> {routes.erstbegeher}</td>
		   </tr>
			</f:for>
</table>
</f:section>