<f:layout name="Default" />

<f:section name="main">


  <f:flashMessages />


  <f:for each="{mounts}" as="mount"> 
	<div class="container tx_msrouten-mount"> 
		<h3>{mount.name} ({mount.height})</h3>

		<table  class="tx_msrouten tx_msrouten-list" >

		   <f:for each="{routess}" as="routes">
			  <f:if condition="{routes.walls.mounts.uid}=={mount.uid}">
				<tr>
					<th colspan="3">
						<f:link.action class="tx_routen-list" action="show" arguments="{routes : routes, pdf : FALSE}" pageUid="{singlePID}" >
							{routes.routenName}  (<f:translate key="tx_msrouten_domain_model_routes.levelshort{routes.levelShort}"/>)
						</f:link.action> <span class="stern stern{routes.beauty}"> </span>
					 </th>
				</tr>


				<tr>
					<td><b>E-Bew.: {routes.elevel}</b></td>
					<td><b>Beliebtheit: <span class="frequenz frequenz{routes.frequenz}"> </b></span></td>
					<td><b><f:translate key="tx_msrouten_domain_model_routes.level" /> </b>{routes.level}</td> </tr>
					<tr>
					<td><b>Länge:</b> {routes.climbdistance}</td>
					<td><b>Zeit:</b> {routes.climbtime} - <b>Expos.:</b> {routes.exposition}</td>
					<td><b>Erstbegeher.:</b> {routes.erstbegeher}</td>
			   </tr>
			  </f:if>
		  </f:for>
		</table>
	  </div>
  </f:for>
</f:section>