<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Pictures</h1>

<f:flashMessages />

<table  class="tx_msrouten" >
	<tr>
		<th><f:translate key="tx_msrouten_domain_model_pictures.picture_wall" /></th>
		<th><f:translate key="tx_msrouten_domain_model_pictures.wall_pic_bu" /></th>
		<th><f:translate key="tx_msrouten_domain_model_pictures.wall_pic_alt" /></th>
		<th><f:translate key="tx_msrouten_domain_model_pictures.wall_pic_title" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{picturess}" as="pictures">
		<tr>
			<td><f:link.action action="show" arguments="{pictures : pictures}"> {pictures.pictureWall}</f:link.action></td>
			<td><f:link.action action="show" arguments="{pictures : pictures}"> {pictures.wallPicBu}</f:link.action></td>
			<td><f:link.action action="show" arguments="{pictures : pictures}"> {pictures.wallPicAlt}</f:link.action></td>
			<td><f:link.action action="show" arguments="{pictures : pictures}"> {pictures.wallPicTitle}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{pictures : pictures}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{pictures : pictures}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Pictures</f:link.action>
</f:section>